$primary-color: #409eff;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$success-color: #67c23a;
$info-color: #909399;
$black-color: #000;
$white-color: #fff;
$main-color: #303133;
$regular-color: #606266;
$secondary-color: #909399;

@mixin bgCover($url) {
  background-image: url($url);
  background-size: cover;
}
